force-app/main/default/flows/Search_Patient-17.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Backend</name>
        <label>Call Backend</label>
        <locationX>257</locationX>
        <locationY>92</locationY>
        <actionName>SMKSearchPatientFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Results</targetReference>
        </connector>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>Achternaam</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Patient_Details</name>
        <label>Get Patient Details</label>
        <locationX>412</locationX>
        <locationY>473</locationY>
        <actionName>SMKGetPatientDetailFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Individual_Id</targetReference>
        </connector>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Goto_Account</name>
        <label>Goto Account</label>
        <locationX>696</locationX>
        <locationY>829</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varAccountId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Has_Individual_Id</name>
        <label>Has Individual Id</label>
        <locationX>699</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Individual_Id_is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIndividualId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Individual Id is Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Found</name>
        <label>Is Account Found</label>
        <locationX>967</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Goto_Account</targetReference>
            </connector>
            <label>Account is Found</label>
        </rules>
        <rules>
            <name>Account_is_NOT_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Account is NOT Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SearchResult_Found</name>
        <label>SearchResult Found</label>
        <locationX>757</locationX>
        <locationY>84</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SearchResult_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objSearchResult</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>See_if_Account_is_already_in_system</targetReference>
            </connector>
            <label>SearchResult is Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SearchResults</name>
        <dataType>String</dataType>
        <displayField>Complete_Name__c</displayField>
        <object>SMKSearchResults__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Search Patient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search Patient</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>699</locationX>
        <locationY>298</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>RecordCreatedConfirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>objSearchResult.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__MedicalRecordNumber__c</field>
            <value>
                <elementReference>objSearchResult.MRN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SourceSystemId__c</field>
            <value>
                <elementReference>objSearchResult.MPIIID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>objSearchResult.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121r000000mjAbAAI</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>693</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>HealthCloudGA__IndividualId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIndividualId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_Id</name>
        <label>Get Individual Id</label>
        <locationX>697</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Individual_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varIndividualId</assignToReference>
            <field>HealthCloudGA__IndividualId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Search_Results_Record</name>
        <label>Get Search Results Record</label>
        <locationX>589</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SearchResult_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SearchResults</elementReference>
            </value>
        </filters>
        <object>SMKSearchResults__c</object>
        <outputReference>objSearchResult</outputReference>
        <queriedFields>Facility__c</queriedFields>
        <queriedFields>FirstName__c</queriedFields>
        <queriedFields>LastName__c</queriedFields>
        <queriedFields>MPIIID__c</queriedFields>
        <queriedFields>Prefix__c</queriedFields>
        <queriedFields>Sex__c</queriedFields>
        <queriedFields>Telephone__c</queriedFields>
        <queriedFields>MRN__c</queriedFields>
        <queriedFields>Complete_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>See_if_Account_is_already_in_system</name>
        <label>See if Account is already in system</label>
        <locationX>980</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Found</targetReference>
        </connector>
        <filters>
            <field>HealthCloudGA__SourceSystemId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objSearchResult.MPIIID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>701</locationX>
        <locationY>640</locationY>
        <connector>
            <targetReference>Goto_Account</targetReference>
        </connector>
        <filters>
            <field>HealthCloudGA__IndividualId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIndividualId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__MedicalRecordNumber__c</field>
            <value>
                <elementReference>objSearchResult.MRN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SourceSystemId__c</field>
            <value>
                <elementReference>objSearchResult.MPIIID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>RecordCreatedConfirmation</name>
        <label>RecordCreatedConfirmation</label>
        <locationX>415</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Patient_Details</targetReference>
        </connector>
        <fields>
            <name>ThePationIsCreated</name>
            <fieldText>The patient {!objSearchResult.Complete_Name__c} is created in Health Cloud</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Results</name>
        <label>Show Results</label>
        <locationX>432</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Search_Results_Record</targetReference>
        </connector>
        <fields>
            <name>Patienten</name>
            <choiceReferences>SearchResults</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Patienten</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Zoek_Patient</name>
        <label>Zoek Patient</label>
        <locationX>75</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Backend</targetReference>
        </connector>
        <fields>
            <name>Achternaam</name>
            <dataType>String</dataType>
            <fieldText>Achternaam</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Zoek_Patient</startElementReference>
    <variables>
        <name>objSearchResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMKSearchResults__c</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIndividualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
